.fondo {
    width: 100%;
}

.logo {
    width: 30%;
    /* Limits the image width to 30% of its container */
    position: absolute;
    /* Positions the element relative to the viewport */
    top: 5%;
    /* Moves the top edge of the element to the vertical center */
    left: 50%;
    /* Moves the left edge of the element to the horizontal center */
    transform: translate(-50%);
}

.promo {
    width: 60%;
    position: absolute;
    /* Positions the element relative to the viewport */
    top: 15%;
    /* Moves the top edge of the element to the vertical center */
    left: 50%;
    /* Moves the left edge of the element to the horizontal center */
    transform: translate(-50%);
}

.texto_menu {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

.my-custom-padding-top {
    padding-top: 40px;
    transform: translate(50%);
    width: 50%;
}

.texto-carta {
    font-size: 14px;
}